.filters {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;   
  gap: 25px;                
}

.filter-section {
  display: flex;
  flex-direction: column;
}

.filter-section h4 {
  margin-bottom: 10px;
}


.size-options button {
  padding: 8px 12px;
  margin: 5px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.size-options button.active {
  background: black;
  color: white;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-dot.red { background: red; }
.color-dot.blue { background: blue; }
.color-dot.green { background: green; }

.color-dot.selected {
  border: 2px solid black;
}

.price-options {
  list-style: none;
  padding: 0;
}

.price-options li {
  cursor: pointer;
  margin-bottom: 6px;
}

.price-dropdown {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}


.container {
  display: flex;
  padding: 20px 40px;
  gap: 30px;
  align-items: flex-start;
}


.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.product-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* tablet */
@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .products{
    grid-template-columns: 1fr;
  }
  .filters {
    width: 100%;
  }
}
